name: build

on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - uses: actions/checkout@v2
    - name: Cache
      uses: actions/cache@v1.1.2
      with:
        # A directory to store and save the cache
        path: node_modules 
        # An explicit key for restoring and saving the cache
        key: ${{ runner.os }}-pnode-modules
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run build --if-present
    - name: Upload artifacts
      uses: actions/upload-artifact@v1.0.0
      with:
        # Artifact name
        name: dist
        # Directory containing files to upload
        path: dist
